extends layout

block content
    script(type='text/javascript' src='/scripts/gpio.js')
    section.container.gpio-container

        div.row
            h1 PINES GPIO
            button.button-cam Go to CAM

        div.row.align-items-center
            div.col
                span 3.3V
            div.col
                span.float-right 5V
        div.row.align-items-center
            div.col
                span GPIO 2 (SDA)
                div.float-right
                    input(data-toggle="toggle" data-onstyle="success" data-offstyle="danger" type="checkbox" data-gpio="2").gpio-checkbox
            div.col
                span.float-right  5V
        div.row.align-items-center
            div.col
                span GPIO 3 (SCL)
                div.float-right
                    input(data-toggle="toggle" data-onstyle="success" data-offstyle="danger" type="checkbox" data-gpio="3").gpio-checkbox
            div.col
                span.float-right Ground
        div.row.align-items-center
            div.col
                span GPIO 4 (GPCLK0)
                div.float-right
                    input(data-toggle="toggle" data-onstyle="success" data-offstyle="danger" type="checkbox" data-gpio="4").gpio-checkbox
            div.col
                input(data-toggle="toggle" data-onstyle="success" data-offstyle="danger" type="checkbox" data-gpio="14").gpio-checkbox
                span.float-right GPIO 14 (TXD)
        div.row.align-items-center
            div.col
                span Ground
            div.col
                input(data-toggle="toggle" data-onstyle="success" data-offstyle="danger" type="checkbox" data-gpio="15").gpio-checkbox
                span.float-right GPIO 15 (RXD)
        div.row.align-items-center
            div.col
                span GPIO 17
                div.float-right
                    input(data-toggle="toggle" data-onstyle="success" data-offstyle="danger" type="checkbox" data-gpio="17").gpio-checkbox
            div.col
                input(data-toggle="toggle" data-onstyle="success" data-offstyle="danger" type="checkbox" data-gpio="18").gpio-checkbox
                span.float-right GPIO 18 (PCM_C)
        div.row.align-items-center
            div.col
                span GPIO 27 (PCM_D)
                div.float-right
                    input(data-toggle="toggle" data-onstyle="success" data-offstyle="danger" type="checkbox" data-gpio="27").gpio-checkbox
            div.col
                span.float-right Ground
        div.row.align-items-center
            div.col
                span GPIO 22
                div.float-right
                    input(data-toggle="toggle" data-onstyle="success" data-offstyle="danger" type="checkbox" data-gpio="22").gpio-checkbox
            div.col
                input(data-toggle="toggle" data-onstyle="success" data-offstyle="danger" type="checkbox" data-gpio="23").gpio-checkbox
                span.float-right GPIO 23
        div.row.align-items-center
            div.col
                span 3.3V
            div.col
                input(data-toggle="toggle" data-onstyle="success" data-offstyle="danger" type="checkbox" data-gpio="24").gpio-checkbox
                span.float-right GPIO 24
        div.row.align-items-center
            div.col
                span GPIO 10 (MOSI)
                div.float-right
                    input(data-toggle="toggle" data-onstyle="success" data-offstyle="danger" type="checkbox" data-gpio="10").gpio-checkbox
            div.col
                span.float-right Ground
        div.row.align-items-center
            div.col
                span GPIO 9 (MISO)
                div.float-right
                    input(data-toggle="toggle" data-onstyle="success" data-offstyle="danger" type="checkbox" data-gpio="9").gpio-checkbox
            div.col
                input(data-toggle="toggle" data-onstyle="success" data-offstyle="danger" type="checkbox" data-gpio="25").gpio-checkbox
                span.float-right GPIO 25
        div.row.align-items-center
            div.col
                span GPIO 11 (SCKL)
                div.float-right
                    input(data-toggle="toggle" data-onstyle="success" data-offstyle="danger" type="checkbox" data-gpio="11").gpio-checkbox
            div.col
                input(data-toggle="toggle" data-onstyle="success" data-offstyle="danger" type="checkbox" data-gpio="8").gpio-checkbox
                span.float-right GPIO 8 (CE0)
        div.row.align-items-center
            div.col
                span Ground
            div.col
                input(data-toggle="toggle" data-onstyle="success" data-offstyle="danger" type="checkbox" data-gpio="7").gpio-checkbox
                span.float-right GPIO 7 (CE1)
        div.row.align-items-center
            div.col
                span ID_SD
            div.col
                span.float-right ID_SC
        div.row.align-items-center
            div.col
                span GPIO 5
                div.float-right
                    input(data-toggle="toggle" data-onstyle="success" data-offstyle="danger" type="checkbox" data-gpio="5").gpio-checkbox
            div.col
                span.float-right Ground
        div.row.align-items-center
            div.col
                span GPIO 6
                div.float-right
                    input(data-toggle="toggle" data-onstyle="success" data-offstyle="danger" type="checkbox" data-gpio="6").gpio-checkbox
            div.col
                input(data-toggle="toggle" data-onstyle="success" data-offstyle="danger" type="checkbox" data-gpio="12").gpio-checkbox
                span.float-right GPIO 12
        div.row.align-items-center
            div.col
                span GPIO 13
                div.float-right
                    input(data-toggle="toggle" data-onstyle="success" data-offstyle="danger" type="checkbox" data-gpio="13").gpio-checkbox
            div.col
                span.float-right Ground
        div.row.align-items-center
            div.col
                span GPIO 19 (MISO)
                div.float-right
                    input(data-toggle="toggle" data-onstyle="success" data-offstyle="danger" type="checkbox" data-gpio="19").gpio-checkbox
            div.col
                input(data-toggle="toggle" data-onstyle="success" data-offstyle="danger" type="checkbox" data-gpio="16").gpio-checkbox
                span.float-right GPIO 16
        div.row.align-items-center
            div.col
                span GPIO 26
                div.float-right
                    input(data-toggle="toggle" data-onstyle="success" data-offstyle="danger" type="checkbox" data-gpio="26").gpio-checkbox
            div.col
                input(data-toggle="toggle" data-onstyle="success" data-offstyle="danger" type="checkbox" data-gpio="20").gpio-checkbox
                span.float-right GPIO 20 (MOSI)
        div.row.align-items-center
            div.col
                span Ground
            div.col
                input(data-toggle="toggle" data-onstyle="success" data-offstyle="danger" type="checkbox" data-gpio="21").gpio-checkbox
                span.float-right GPIO 21 (SCKL)
            