doctype html
html
  head
    title= title
    meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no') 
    link(rel='stylesheet', href='/vendor/bootstrap/dist/css/bootstrap.min.css')
    link(rel="stylesheet", href="/css/app.css")
    link(rel="stylesheet", href="/css/gpio.css")
    link(rel="stylesheet", href="/css/cam.css")
    script(type='text/javascript' src='/vendor/jquery/dist/jquery.min.js')
    script(type='text/javascript' src='/vendor/popper.js/dist/umd/popper.min.js')
    script(type='text/javascript' src='/vendor/socket.io-client/dist/socket.io.js')
    script(type='text/javascript' src='/vendor/bootstrap/dist/js/bootstrap.min.js')
    script.
      var socket = io();
      socket.on('liveStream', function(url) {
      $('#stream').attr('src', url);
      $('.start').hide();
      });
      function startStream() {
      socket.emit('start-stream');
      $('.start').hide();
      }
    
  body
    block content